<div class="window">
  <div class="header">
    <h2>Cookies on board</h2>
  </div>

  <div class="text-container">
      <span>Our software relies on essential cookies to function properly.
        <br> <br>Thank you for using Hawk Softworks.
      <br>Happy controlling!</span>
  </div>
  <!--    <div class="image">-->
  <!--      <img src="assets/cookie.png" alt="cookie-banner">-->
  <!--    </div>-->
  <div class="footer">
    <div class="button" (click)="onClose()"><span>Accept</span></div>
  </div>


</div>
