<div class="container">
  <app-flightstrip [fs]="stripModel" *ngIf="!stripModel.compactMode"
                   (switchToCompact)="stripModel.compactMode = true" (nextStatus)="nextStatus()"
                   (prevStatus)="prevStatus()"></app-flightstrip>
  <app-flightstrip-compact [fs]="stripModel" *ngIf="stripModel.compactMode"
                           (triggeredCompact)="stripModel.compactMode = false" (nextStatus)="nextStatus()"
                           (prevStatus)="prevStatus()"></app-flightstrip-compact>
</div>
