
.icon-default{
  color: var(--fs-state-icon-default)
}

.icon-success{
  color: var(--fs-state-icon-success)
}

.icon-error{
  color: var(--fs-state-icon-error)
}

.icon-warning{
  color: var(--fs-state-icon-warning)
}

.icon-inactive{
  color: var(--fs-state-icon-inactive)
}
