:host {
    aspect-ratio: 1;
    width: 30%;
    border: 0;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  :host:hover {
    background-color: #36393b;
    box-shadow: none;
  }

  .icon {
    height: 55%;
    width: 55%;
  }
