//General Settings
$fsInputFontSize: 0.75vw;
$fsInputMaxFontSize: 1.8em;

.strip {
  width: 100%;
  aspect-ratio: 3.0;
  box-sizing: border-box;
  padding: 5px 5px 1px;
}

input {
  box-sizing: border-box;
  height: 82%;
  min-width: 0;
  border: 0;
  border-radius: 0;
  text-align: center;
  font-family: Roboto Mono, sans-serif;


  &:hover {
    outline: 1px solid;
  }

  &:focus {
    outline: 1px solid;
  }
}

.box-element {
  width: 19%;
}


.flex-row {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  -webkit-box-align: center;
}


.airline {
  display: flex;
  justify-content: center;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.small-content {
  display: flex;
  -webkit-box-align: center;
  flex-flow: row;
  justify-content: space-between;
  height: 100%;
}

.small-inputs {
  width: 47%;
}

.long-text {
  width: 100%;
}

.icon-container {
  height: 82%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
}

.icon {
  width: 23%;
  aspect-ratio: 1;
  display: flex;
  -webkit-box-align: center;
}

.button {
  height: 100%;
  aspect-ratio: 1;
}

.chevron {
  height: 88%;
  aspect-ratio: 1;
}

.chevron-status{
  width: 12%;
  aspect-ratio: 1;
}

.status-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 39%;
  height: 82%;
}

.status{
  width: 70%;
  height: 100%;
}

.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;
}

.example-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}



