<div class="content">
  <div class="header" columnHeaderHeight>
    <h2 columnHeaderFont>{{columnModel.name}}</h2>
    <div class="buttons">
      <app-column-button icon="airplane-take-off" (click)="addOutboundFlightstrip()"></app-column-button>
      <app-column-button icon="airplane-landing" (click)="addInboundFlightstrip()"></app-column-button>
      <app-column-button icon="aircraft" (click)="addVfrFlightstrip()"></app-column-button>
    </div>
  </div>

  <div cdkDropList class="container" [cdkDropListData]="strips" (cdkDropListDropped)="drop($event)"
       (keydown)="onKeyPress($event)" [tabindex]="tabIndex" (mouseenter)="onMouseEnter($event)"
       (mouseleave)="onMouseLeave($event)" [blurOn]="submittedValue">
    <app-flightstrip-container *ngFor="let strip of strips" cdkDrag [cdkDragData]="strip" [stripModel]="strip"
                               [cdkDragStartDelay]="getDragDelay()"></app-flightstrip-container>
  </div>

</div>

