.container {
  display: flex;
  justify-content: flex-start;
  scrollbar-width: thin;
  overflow-x: auto;
  overflow-y: hidden;

  height: 100%;
  width: 100%;
}

.gridBackground {
  width: 100%;
}


