<div class="window">
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="navbar" disableClose>
      <div class="flex-container">
        <div class="navbar-item header">
          <span appSettings [header]="true">Settings</span>
        </div>
        <div class="navbar-item disabled item"
             [ngClass]="{'selected' : settingsSelector === SettingsTypes.GENERAL}">
          <span appSettings>General</span>
        </div>
        <div class="navbar-item item" (click)="onSettingClick(SettingsTypes.KEYBINDINGS)"
             [ngClass]="{'selected' : settingsSelector === SettingsTypes.KEYBINDINGS}">
          <span
            appSettings>Keybindings</span>
        </div>
        <div class="navbar-item disabled item"
             [ngClass]="{'selected' : settingsSelector === SettingsTypes.ATC_FREQS}">
          <span
            appSettings>ATC Frequencies</span>
        </div>
        <div class="navbar-item disabled item"
             [ngClass]="{'selected' : settingsSelector === SettingsTypes.MULTIPLAYER}">
          <span appSettings>Multiplayer</span>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="nav-content">
      <div class="sub-settings">
        @switch (settingsSelector) {
          @case (SettingsTypes.KEYBINDINGS) {
            <app-settings-keybindings></app-settings-keybindings>
          }
          @case (SettingsTypes.ATC_FREQS) {
            <app-settings-atc></app-settings-atc>
          }
        }
      </div>
      <div class="footer">
        <app-icon-button icon="save" class="icon save" matTooltip="Save & Exit"
                         matTooltipPosition="above" (click)="onSaveClick()"></app-icon-button>
        <app-icon-button icon="x" class="icon discard" matTooltip="Discard"
                         matTooltipPosition="above"
                         (click)="onDiscardClick()"></app-icon-button>

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


