<div class="menu" cdkMenu fsContextMenu>
  <div class="row" cdkMenuItem fsContextMenuItem (click)="switchCompact()">
    <i-feather name="{{compactIcon}}" class="icon"></i-feather>
    <button class="menu-item">{{compactText}}</button>
  </div>
  <div class="border"></div>
  <div class="row" cdkMenuItem fsContextMenuItem (click)="finishStrip()">
    <i-feather name="check" class="icon"></i-feather>
    <button class="menu-item">Finished</button>
  </div>
<!--  <div class="row" cdkMenuItem fsContextMenuItem (click)="archiveStrip()">-->
<!--    <i-feather name="archive" class="icon"></i-feather>-->
<!--    <button class="menu-item" >Archive</button>-->
<!--  </div>-->
  <div class="row" cdkMenuItem fsContextMenuItem (click)="deleteStrip()">
    <i-feather name="trash-2" class="icon"></i-feather>
    <button class="menu-item">Delete</button>
  </div>
  <div class="border"></div>
  <div class="row" cdkMenuItem fsContextMenuItem (click)="switchToOption(1)">
    <i-feather name="repeat" class="icon"></i-feather>
    <button class="menu-item">To {{switchOption1}}</button>
  </div>
  <div class="row" cdkMenuItem fsContextMenuItem (click)="switchToOption(2)">
    <i-feather name="repeat" class="icon"></i-feather>
    <button class="menu-item">To {{switchOption2}}</button>
  </div>


</div>

