<div class="menu" cdkMenu fsContextMenu>
  <div class="row">
    <i-feather name="check" class="icon"></i-feather>
    <button class="menu-item" cdkMenuItem fsContextMenuItem>Finished</button>
  </div>
  <div class="row">
    <i-feather name="archive" class="icon"></i-feather>
    <button class="menu-item" cdkMenuItem fsContextMenuItem (click)="archiveStrip()">Archive</button>
  </div>
  <div class="row">
    <i-feather name="trash-2" class="icon"></i-feather>
    <button class="menu-item" cdkMenuItem fsContextMenuItem (click)="deleteStrip()">Delete</button>
  </div>
  <div class="row">
    <i-feather name="arrow-right" class="icon"></i-feather>
    <button class="menu-item" cdkMenuItem fsContextMenuItem (click)="switchToOption(1)">To {{switchOption1}}</button>
  </div>
  <div class="row">
    <i-feather name="arrow-right" class="icon"></i-feather>
    <button class="menu-item" cdkMenuItem fsContextMenuItem (click)="switchToOption(2)">To {{switchOption2}}</button>
  </div>


</div>

