.window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-top: 8%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  box-sizing: border-box;
  background-color: var(--search-background);
  color: var(--search-fontcolor);
}

.header {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-row {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 80%;
  gap: 5%;
}

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 80%;
  border-radius: 5px;
}

.button-container {
  align-items: end;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.cancel {
  background-color: var(--settings-discard-button-background);
  &:hover {
    background-color: var(--settings-discard-button-background-hover);
    cursor: pointer;
  }
}

.discard-changes {
    border: 1px solid var(--profile-mark-delete-border-color);
    color: var(--profile-mark-delete-font-color);

    &:hover {
      cursor: pointer;
      border-width: 2px;
    }
}
