.body {
  display: flex;
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
}


.toast-body {
  display: flex;
  align-items: center !important;
  //padding-top: 1%;
  width: 100%;
}
.toast{
  align-items: center !important;
}

