<div class="sidebar">
  <div class="top-buttons">
    <app-sidebar-button-png icon="tower" class="icon-button default" matTooltip="Profile Settings"
                            matTooltipPosition="right" (click)="openProfileSettings()"
                            [ngClass]="{'disabled': isMultiplayerConnected}"
    ></app-sidebar-button-png>
    <app-sidebar-button icon="columns" (click)="openColumnbuilder()" class="icon-button default"
                        matTooltip="Columns" matTooltipPosition="right"></app-sidebar-button>
    <app-sidebar-button icon="wifi" class="icon-button" matTooltip="Networks"
                        matTooltipPosition="right"
                        (click)="openNetworkMenu()"
                        [ngClass]="{
                        'default': this.networkService.networkState == 'default',
                        'success': this.networkService.networkState == 'success',
                        'error': this.networkService.networkState == 'error'}"
    ></app-sidebar-button>
    <app-sidebar-button-png icon="{{radarIcon}}" class="radar default" matTooltip="Proximity Settings"
                            matTooltipPosition="right" (click)="openProximitySettings()"></app-sidebar-button-png>
    <app-sidebar-button icon="users" (click)="openMultiplayerSettings()" class="icon-button default"
                        matTooltip="Multiplayer"
                        matTooltipPosition="right"
                        [ngClass]="{'success': this.multiplayerService.isConnected}"
    ></app-sidebar-button>
    <app-sidebar-button icon="search" class="icon-button default" matTooltip="Search Callsign"
                        matTooltipPosition="right"
                        (click)="openSearchCallsign()"></app-sidebar-button>
  </div>

  <div class="bottom-buttons">
    <app-sidebar-button icon="zoom-in" (click)="onZoomIn()" class="icon-button default" matTooltip="Zoom in"
                        matTooltipPosition="right"></app-sidebar-button>
    <app-sidebar-button icon="zoom-out" (click)="onZoomOut()" class="icon-button default" matTooltip="Zoom out"
                        matTooltipPosition="right"></app-sidebar-button>
    <app-sidebar-button icon="bar-chart-2" class="icon-button default disabled" matTooltip="Statistics"
                        matTooltipPosition="right"
    ></app-sidebar-button>
    <app-sidebar-button icon="settings" class="icon-button default" matTooltip="Settings"
                        matTooltipPosition="right" (click)="openAppSettings()"
    ></app-sidebar-button>
    <app-sidebar-button icon="help-circle" class="icon-button default disabled" matTooltip="Help"
                        matTooltipPosition="right"
    ></app-sidebar-button>
  </div>
</div>
