.sidebar {
  display: flex;
  flex-direction: column;
  padding-right: 15%;
  padding-left: 15%;
  height: 100%;
  padding-top: 10px;
  justify-content: space-between;
  touch-action: none;
  box-sizing: border-box;
}

.icon-button {
  width: 100%;

  aspect-ratio: 1;
}
.top-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.my-dialog{
  overflow: hidden;
}


