.sidebar {
  display: flex;
  flex-direction: column;
  padding-right: 15%;
  padding-left: 15%;
  background-color: #272E33;
  height: calc(100% - 7px);
  padding-top: 7px;
  justify-content: space-between;
  touch-action: none;
}

.icon-button {
  width: 100%;

  aspect-ratio: 1;
}

.bottom-buttons {
  padding-bottom: 10px;
}

.my-dialog{
  overflow: hidden;
}


