<div class="strip" (mousedown)="onMouseDown()"
     (mouseup)="onMouseUp()" (mousemove)="isMouseMoving = true" [cdkContextMenuTriggerFor]="context_menu"
     (cdkContextMenuOpened)="onContextOpened()" (dblclick)="onDoubleClick()"
     [ngClass]="{
     'inbound': fs.type === stripTypes.INBOUND,
     'outbound': fs.type === stripTypes.OUTBOUND,
     'vfr': fs.type === stripTypes.VFR,
     'emergency': fs.squawk == '7500' || fs.squawk == '7700' || fs.squawk == '7600',
     'highlight': highlightActive}">
  <div class="cols">
    <div class="col1 border-right" flightStripCompact [fsCompact]="fs">
      <span class="callsign" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'large'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.callsign}}</span>
      <span class="airline" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.airline}}</span>
      <div class="aircraft-size">
        <span class="aircraft" flightStripCompact [fsCompact]="fs"
              [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.aircraft}}</span>
        <span class="wake" flightStripCompact [fsCompact]="fs"
              [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.wakeCategory}}</span>
      </div>
    </div>
    <div class="col2 border-right" flightStripCompact [fsCompact]="fs">
      <span class="departure" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.departureIcao}}</span>
      <span class="arrival" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.arrivalIcao}}</span>
      <span class="flightrule" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.flightrule}}</span>
    </div>
    <div class="col3 border-right" flightStripCompact [fsCompact]="fs">
      <span class="runway" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.runway}}</span>
      <span class="sidStar" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.sidStar}}</span>
      <span class="altitude" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.altitude}}</span>
    </div>
    <div class="col4 border-right" flightStripCompact [fsCompact]="fs">
       <span class="squawk" flightStripCompact [fsCompact]="fs"
             [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.squawk}}</span>
      <span class="gate" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.gate}}</span>
      <span class="info" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'small'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.info}}</span>
    </div>
    <div class="col5">
      <div class="top-row">

        <div class="status-row">
          <app-flightstrip-button class="status-button" icon="chevron-left"
                                  (click)="prevStatus()"
                                  (dblclick)="onSecondDoubleClick($event)"></app-flightstrip-button>
          <span class="status" flightStripCompact [fsCompact]="fs"
                [flightStripFontSize]="'medium'" [ngClass]="{'disabled' : inputsDisabled}">{{status[fs.status]}}</span>
          <app-flightstrip-button class="status-button" icon="chevron-right"
                                  (click)="nextStatus()"
                                  (dblclick)="onSecondDoubleClick($event)"></app-flightstrip-button>
        </div>
        <div class="icons">
          <i-feather name="alert-triangle" class="icon"
                     [ngClass]="{'disabled' : inputsDisabled,
                     'icon-default':fs.triangleIconState === triangleIconStates.STANDARD,
          'icon-success' : fs.triangleIconState === triangleIconStates.SUCCESS,
          'icon-error' : fs.triangleIconState === triangleIconStates.ERROR,
          'icon-warning' : fs.triangleIconState === triangleIconStates.WARNING,
          'icon-inactive' : fs.triangleIconState === triangleIconStates.INACTIVE}"></i-feather>
          <i-feather
            name="{{fs.communicationIconState === communicationIconStates.VOICE ? 'headphones' : 'type'}}"
            class="icon"
            ></i-feather>
        </div>
      </div>
      <span class="route" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'small'" [ngClass]="{'disabled' : inputsDisabled}">{{trimRoute(fs.route)}}</span>
      <span class="freeText" flightStripCompact [fsCompact]="fs"
            [flightStripFontSize]="'small'" [ngClass]="{'disabled' : inputsDisabled}">{{fs.freeText}}</span>
    </div>
  </div>

</div>

<ng-template #context_menu>
  <app-context-menu [fs]="fs"></app-context-menu>
</ng-template>
