
.strip {
  aspect-ratio: 5;
  margin-bottom: 10px;
}

.cols {
  display: flex;
  height: 100%;

  .col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 23%;

    .callsign {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40%;
      font-weight: bold;
    }

    .airline {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30%;
    }

    .aircraft-size {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      height: 30%;
    }
  }

  .col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 13%;

    .departure {
      display: flex;
      align-items: center;
      height: 33%;
    }

    .arrival {
      display: flex;
      align-items: center;
      height: 33%;
    }

    .flightrule {
      display: flex;
      align-items: center;
      height: 33%
    }
  }

  .col3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 19%;

    .runway {
      display: flex;
      align-items: center;
      height: 33%;
    }

    .sidStar {
      display: flex;
      align-items: center;
      height: 33%
    }

    .altitude {
      display: flex;
      align-items: center;
      height: 33%
    }
  }

  .col4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 10%;

    .squawk {
      display: flex;
      align-items: center;
      height: 33%;
    }

    .gate {
      display: flex;
      align-items: center;
      height: 33%
    }

    .info {
      display: flex;
      align-items: center;
      text-align: center;
      height: 33%;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  .col5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-left: 5px;
    width: 35%;

    .top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row;
      height: 30%;
      width: 100%;

      .status-row {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-flow: row;
        width: 75%;
        height: 100%;
        gap: 5px;

        .status-button {
          height: 60%;
          aspect-ratio: 1;
        }
      }

      .icons{
        display: flex;
        flex-flow: row;
        justify-content: end;
        width: 25%;
        height: 60%;
        gap: 3px;

        .icon{
          aspect-ratio: 1;
          width: 50%;
        }
      }
    }

    .route {
      display: flex;
      text-align: justify;
      height: 35%
    }

    .freeText {
      text-align: justify;
      height: 35%
    }
  }

}
