<div class="window">
  <div *ngIf="!isConnected" class="flex-column">
    <div class="header">
      <span>Multiplayer</span>
    </div>
    <div class="container">
      <div class="create">
        <div class="sub-header">
          <span>Create Room</span>
        </div>
        <div class="content">
          <div class="top">
            <div class="room">
              <span class="roomText label" *ngIf="createdRoomId.length > 0">RoomID:</span>
              <span class="id" *ngIf="createdRoomId.length > 0">{{createdRoomId}} </span>
            </div>
            <div class="row">
              <span class="label">Password:</span>
              <input class="input" [ngClass]="{'disabled': isCreateDisabled}" [disabled]="isCreateDisabled"
                     [(ngModel)]="createPassword">
            </div>
          </div>
          <div class="bottom">
            <button class="button" (click)="createRoom()"
                    [disabled]="isCreateDisabled">Create
            </button>
          </div>
        </div>
      </div>
      <div class="join">
        <div class="sub-header">
          <span>Join Room</span>

        </div>
        <div class="content">
          <div class="top">
            <div class="row">
              <span class="label">RoomID:</span>
              <input class="input" (input)="isJoinDisabled = enteredRoomid.length != 5" [(ngModel)]="enteredRoomid">
            </div>
            <div class="row">
              <span class="label">Password:</span>
              <input class="input" [(ngModel)]="joinPassword">
            </div>
            <div class="row">
              <span class="label">Name:</span>
              <input class="input" [(ngModel)]="enteredName">
            </div>
          </div>
          <div class="bottom">
            <button class="button" (click)="joinRoom()"
                    [disabled]="isJoinDisabled">Join
            </button>
          </div>

        </div>

      </div>


    </div>
  </div>
</div>


