<div class="content" columnWidth columnColor>
  <div class="header" columnHeaderHeight>
    <h2 columnHeaderFont columnColor>{{name}}</h2>
    <div class="buttons">
      <app-column-button icon="airplane-take-off" (click)="addOutboundFlightstrip()"
                         columnButtonColor></app-column-button>
      <app-column-button icon="airplane-landing" (click)="addInboundFlightstrip()"
                         columnButtonColor></app-column-button>
      <app-column-button icon="aircraft" (click)="addVfrFlightstrip()" columnButtonColor></app-column-button>
    </div>
  </div>

  <div cdkDropList class="container" [cdkDropListData]="strips" (cdkDropListDropped)="drop($event)"
       (keydown)="onKeyPress($event)" [tabindex]="0" (mouseenter)="onMouseEnter($event)"
       (mouseleave)="onMouseLeave($event)" [blurOn]="submittedValue">
    <app-flightstrip-container *ngFor="let strip of strips" cdkDrag [cdkDragData]="strip" [stripModel]="strip"
                               [cdkDragStartDelay]="getDragDelay()"></app-flightstrip-container>
  </div>

</div>

