<p-table [value]="configData" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Primary</th>
      <th>Secondary</th>
      <!--      <th></th>-->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td><span class="action-name">{{ data.name }}</span></td>
      <td class="inputColumns">
        <div class="flex-container">
          <input type="text" class="input" appSettingsKeybindings [placeholder]="data.primaryConfig | keybindings"
                 (click)="onInputClick(data)">
          <app-keybindings-button icon="rotate-ccw" class="icon reset"
                                  [ngClass]="{'disabled' : data.isPrimaryDefault}"></app-keybindings-button>
          <app-keybindings-button icon="check" class="icon apply"
                                  [ngClass]="{'disabled' : !data.isRecording}"></app-keybindings-button>
        </div>
      </td>
      <td class="inputColumns">
        <div class="flex-container">
          <input type="text" class="input" appSettingsKeybindings [placeholder]="data.secondaryConfig | keybindings">
          <app-keybindings-button icon="rotate-ccw" class="icon reset"
                                  [ngClass]="{'disabled' : data.isSecondaryDefault}"></app-keybindings-button>
          <app-keybindings-button icon="check" class="icon apply" [ngClass]="{'disabled' : !data.isRecording}"></app-keybindings-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
