<p-table [value]="configData" [tableStyle]="{ 'min-width': '40rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Primary</th>
      <th>Secondary</th>
      <!--      <th></th>-->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td><span class="action-name">{{ data.displayName }}</span></td>
      <td class="inputColumns">
        <div class="flex-container">
          <input type="text" class="input" appSettingsKeybindings
                 [placeholder]="data.primaryShortcutString | keybindings"
                 (mousedown)="onInputClick(data, true)"
                 [disabled]="inputsLocked && (!data.isPrimaryRecording)"
                 (keydown)="onKeyInput(data, $event, true)"
                 (keyup)="onKeyUp(data, true)"
          [ngClass]="{'recording':data.isPrimaryRecording, 'error': data.errorDetected}">

          @if (data.isPrimaryRecording) {
            <app-keybindings-button icon="X" class="icon discard"
                                    (click)="cancelRecording(data)"></app-keybindings-button>
          } @else {
            <app-keybindings-button icon="rotate-ccw" class="icon reset"
                                    [ngClass]="{'disabled' : data.isPrimaryDefault || inputsLocked}"
                                    (click)="setShortcutToDefault(data, true)"></app-keybindings-button>
          }
          <app-keybindings-button icon="check" class="icon apply"
                                  [ngClass]="{'disabled' : !data.isPrimaryRecording || data.errorDetected}"
                                  (click)="onApplyClick(data, true)"></app-keybindings-button>
        </div>
      </td>
      <td class="inputColumns">
        <div class="flex-container">
          <input type="text" class="input" appSettingsKeybindings
                 [placeholder]="data.secondaryShortcutString | keybindings"
                 (mousedown)="onInputClick(data, false)"
                 [disabled]="inputsLocked && (!data.isSecondaryRecording)"
                 (keydown)="onKeyInput(data, $event, false)"
                 (keyup)="onKeyUp(data, false)">
          @if (data.isSecondaryRecording) {
            <app-keybindings-button icon="X" class="icon discard"
                                    (click)="cancelRecording(data)"></app-keybindings-button>
          } @else {
            <app-keybindings-button icon="rotate-ccw" class="icon reset"
                                    [ngClass]="{'disabled' : data.isSecondaryDefault || inputsLocked}"
                                    (click)="setShortcutToDefault(data, false)"></app-keybindings-button>
          }
          <app-keybindings-button icon="check" class="icon apply"
                                  [ngClass]="{'disabled' : !data.isSecondaryRecording || data.errorDetected}"
                                  (click)="onApplyClick(data, false)"></app-keybindings-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
