:host {
  padding: 0;
  aspect-ratio: 1;
  border: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

}

.icon {
  height: 55%;
  width: 55%;
  aspect-ratio: 1;
}

