:host {
  padding: 0;
  aspect-ratio: 1;
  border: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #1E2124;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 7px;
  //margin-top: 5px;
  //margin-bottom: 5px;
}

:host:hover {
  background-color: #36393b;
  box-shadow: none;
}

.icon {
  height: 55%;
  width: 55%;
  aspect-ratio: 1;
}
