<div class="strip"
     [ngClass]="{'outbound': fs.type === stripType.OUTBOUND ,'inbound': fs.type === stripType.INBOUND,'vfr': fs.type === stripType.VFR}">
  <div class="content-container">
    <div class="flex-container">
      <div class="left-side">

        <input type="text" class="callsign" placeholder="Callsign">
        <label class="airline">Airline</label>
        <input type="text" placeholder="Squawk" class="squawk">


      </div>
      <!--<div class="right-side">-->
      <mat-grid-list cols="8" rowHeight="33.333%" class="right-side">
        <mat-grid-tile [colspan]="2" [rowspan]="1"><input type="text" placeholder="Dep" [(ngModel)]="fs.departureIcao">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"><input type="text" placeholder="Aircraft" [(ngModel)]="fs.aircraft">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"><input type="text" placeholder="Altitude" [(ngModel)]="fs.altitude">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"><input type="text" placeholder="Gate" [(ngModel)]="fs.gate">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"><input type="text" placeholder="Arr" [(ngModel)]="fs.arrivalIcao">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <div class="double-cell">
            <input type="text" placeholder="W" class="small-inputs" [(ngModel)]="fs.wakeCategory">
            <input type="text" placeholder="FR" class="small-inputs" [(ngModel)]="fs.flightrule">
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"><input type="text" placeholder="Status"
                                                          value="{{status[fs.status]}}"></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"><input type="text" placeholder="Info" [(ngModel)]="fs.info">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1"><input type="text" placeholder="Runway" [(ngModel)]="fs.runway">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="1"><input type="text" placeholder="SID/STAR"
                                                          class="sid" [(ngModel)]="fs.sidStar"></mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="bottom">
      <input type="text" class="free-text" placeholder="Free Text" [(ngModel)]="fs.freeText">
    </div>
  </div>
</div>
