//General Settings
$fsInputHeight : 70%;
$fsInputFontSize: 0.75vw;
$fsInputMaxFontSize: 1.8em;

//Flightstrip Inbound
$fsInboundBackground: #233927;
$fsInboundBorder: 2px solid #3C9E37;
$fsInboundTextColor: #FFFFFF;
$fsInboundPlaceholder: #808080;
$fsInboundInputBackground: #2D4732;
$fsInboundInputText: #FFFFFF;
$fsInboundInputHover: 1px solid #3C9E37;
$fsInboundInputFocus: 1px solid #3C9E37;

//Flightstrip Outbound
$fsOutboundBackground: #223142;
$fsOutboundBorder: 2px solid #3674BF;
$fsOutboundTextColor: #FFFFFF;
$fsOutboundPlaceholder: #808080;
$fsOutboundInputBackground: #2C3C53;
$fsOutboundInputText: #FFFFFF;
$fsOutboundInputFocus: 1px solid #3674BF;
$fsOutboundInputHover: 1px solid #3674BF;

//Flightstrip VFR
$fsVfrBackground: #3C2542;
$fsVfrBorder: 2px solid #BD37BF;
$fsVfrTextColor: #FFFFFF;
$fsVfrPlaceholder: #808080;
$fsVfrInputBackground: #472A4D;
$fsVfrInputText: #FFFFFF;
$fsVfrInputHover: 1px solid #BD37BF;
$fsVfrInputFocus: 1px solid #BD37BF;