.window {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  color: var(--proximity-fontcolor);
  background-color: var(--proximity-background);
}

.header {
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.flex-row {

}

.table-body {
  border-radius: 5px;
  //color: var(--app-fontcolor);
  background-color: var(--proximity-table-background);
}


mat-slider {
  width: auto;
}


.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-box {
  display: flex;
  justify-content: center;
}

.container {
  height:55% ;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  background-color: transparent;
}


.left {
  margin-left: 12px
}

.right {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
  gap: 10px;
}

.footer-buttons {
  width: 40px;
}

.button-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background-color: var(--proximity-footer-background);
}


.discard{
  background-color: var(--proximity-button-discard-background);
  &:hover{
    background-color: var(--proximity-button-discard-background-hover);
  }
}

.save{
  background-color: var(--proximity-button-save-background);
  &:hover{
    background-color: var(--proximity-button-save-background-hover);
  }
}

.add{
  background-color: var(--proximity-button-add-background);
  &:hover{
    background-color: var(--proximity-button-add-background-hover);
  }
}
