<div class="window" proximitySettings>
  <div class="flex-column">
    <div class="header" proximitySettings [header]="true">
      <span>Proximity Settings</span>
    </div>
    <div class="container">
      <div class="container-header">
        <div class="header-box"><span>Active</span></div>
        <div class="header-box"><span>Name</span></div>
        <div class="header-box"><span>Inbound</span></div>
        <div class="header-box"><span>Outbound</span></div>
        <div class="header-box"><span>VFR</span></div>
        <div class="header-box"><span>Range</span></div>
        <div class="header-box"><span>Delete</span></div>
      </div>
    </div>
      <div class="button-footer">
        <div class="left">
          <app-proximity-button icon="plus" (click)="addItem($event)" class="footer-buttons add" matTooltip="Add Column"
                                matTooltipPosition="above"></app-proximity-button>
        </div>
        <div class="right">
          <app-proximity-button icon="save" class="footer-buttons save" matTooltip="Save & Exit"
                                matTooltipPosition="above" (click)="saveAndClose()"></app-proximity-button>
          <app-proximity-button icon="X" class="footer-buttons discard" matTooltip="Discard"
                                matTooltipPosition="above" (click)="closeWithoutSaving()"></app-proximity-button>
        </div>
      </div>
  </div>
</div>
