<div class="window" proximitySettings>
  <div class="flex-column">
    <div class="header" proximitySettings [header]="true">
      <span>Proximity Settings</span>
    </div>
    <div class="container">
      <div class="container-header">
        <div class="header-box active"><span>Active</span></div>
        <div class="header-box icao"><span>ICAO</span></div>
        <div class="header-box inbound"><span>Inbound</span></div>
        <div class="header-box outbound"><span>Outbound</span></div>
        <div class="header-box vfr"><span>VFR</span></div>
        <div class="header-box range"><span>Range (NM)</span></div>
        <div class="header-box delete"><span>Delete</span></div>
      </div>

      <app-proximity-row *ngFor="let airport of airports" [airport]="airport" (delete)="deleteRow(airport)"></app-proximity-row>
    </div>

      <div class="button-footer">
        <div class="left">
          <app-proximity-button icon="plus" (click)="addItem($event)" class="footer-buttons add" matTooltip="Add Column"
                                matTooltipPosition="above"></app-proximity-button>
        </div>
        <div class="right">
          <app-proximity-button icon="save" class="footer-buttons save" matTooltip="Save & Exit"
                                matTooltipPosition="above" (click)="saveAndClose()"></app-proximity-button>
          <app-proximity-button icon="X" class="footer-buttons discard" matTooltip="Discard"
                                matTooltipPosition="above" (click)="closeWithoutSaving()"></app-proximity-button>
        </div>
      </div>
  </div>
</div>
