
.window {
  height: 100%;
  width: 100%;
  background-color: #272E33;
  border: 2px solid #848484;
  outline: none;
}

.gridBackground {
  background-color: #272E33;
  flex-grow: 1;
}


.content {
  height: calc(100% - 10px);
  padding: 5px;
  display: flex;
  flex-direction: column;

}


.columnContent {
  box-sizing: border-box;
  border: 1px solid #bebebe;
  height: 100%;
  width: 100%;
  background-color: #1E2124;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  border-bottom: 1px solid #4d4d4d;

}

.body {
  flex-grow: 1;
}

.delete-button {
  background-color: #3674BF;
  width: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.header-text {
    width: 50%;
  }
}

.input {
  width: 100%;
  height: 35px;
  font-size: 20pt;
  background-color: #272E33;
  border: 0;
  color: white;
  text-align: center;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.button-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;

  background-color: #272E33;
  box-sizing: border-box;
  border-top: 2px solid white;
}

.left {
  margin-left: 7px
}

.right {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  gap: 10px;
}

.footer-buttons {
  width: 50px;
}

