<div class="window">
  <div class="content">
    <gridster [options]="options" class="gridBackground">
      <gridster-item [item]="item" *ngFor="let item of dashboard">
        <div class="columnContent">
          <div class="header flex-container" columnHeaderHeight>
            <div class="gridster-item-content flex-container header-text"><input type="text" class="input"
                                                                                 placeholder="Name..."
                                                                                 [ngModel]="item?.['name']"
                                                                                 (ngModelChange)="item['name']=$event">
            </div>
          </div>
          <div class="body flex-container">
            <app-column-builder-button icon="trash" class="delete-button"
                                       (click)="removeItem($event, item)" matTooltip="Delete Column"
                                       matTooltipPosition="above"></app-column-builder-button>
          </div>
        </div>
      </gridster-item>
    </gridster>


    <div class="button-footer">
      <div class="left">
        <app-column-builder-button icon="plus" (click)="addItem($event)" class="footer-buttons add" matTooltip="Add Column"
                                   matTooltipPosition="above"></app-column-builder-button>
        <app-column-builder-button icon="chevrons-left" (click)="alignColumns()" class="footer-buttons align" matTooltip="Align Columns"
                                   matTooltipPosition="above"></app-column-builder-button>
      </div>
      <div class="right">
<!--        <app-column-builder-button icon="upload" class="footer-buttons" matTooltip="Export"-->
<!--                                   matTooltipPosition="above" sidebarButton-->
<!--                                   (click)="saveConfig()"></app-column-builder-button>-->
<!--        <app-column-builder-button icon="download" class="footer-buttons" matTooltip="Import"-->
<!--                                   matTooltipPosition="above" sidebarButton-->
<!--                                   (click)="loadConfig()"></app-column-builder-button>-->
        <app-column-builder-button icon="save" class="footer-buttons save" matTooltip="Save & Exit"
                                   matTooltipPosition="above" (click)="saveAndClose()"></app-column-builder-button>
        <app-column-builder-button icon="X" class="footer-buttons discard" matTooltip="Discard"
                                   matTooltipPosition="above" (click)="closeWithoutSaving()"></app-column-builder-button>
      </div>
    </div>
  </div>
</div>
