.window {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
}

.gridBackground {
  flex-grow: 1;
}


.content {
  height: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}


.columnContent {
  box-sizing: border-box;
  border: 1px solid #bebebe;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 2;

}

.body {
  flex-grow: 1;
}

.delete-button {
  background-color: #3674BF;
  width: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &.header-text {
    width: 65%;
  }
}

.input {
  width: 100%;
  height: 35px;
  font-size: 20pt;
  border: 0;
  color: white;
  text-align: center;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  font-family: Roboto Mono, sans-serif;
}

.button-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.left {
  margin-left: 7px
}

.right {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  gap: 10px;
}

.footer-buttons {
  width: 40px;
}

